* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #87ACA3;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.highlight {
  font-size: 30px;
}

img {
  border-radius: 50%;
}

header {
  background-color: #0C1446;
  width: 100%;
  padding: 20px 0;
  position: fixed;
  text-align: center;
}

nav a {
  padding: 0 10px;
  text-decoration: none;
  color: white;
}

.img-section {
  padding-top: 80px;
  padding-left: 10px;
  text-align: center;
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  margin-left: 100px;
  margin-bottom: 15px;
}

.about-me {
  padding-top: 80px;
  display: inline-block;
  width: 40%;
  text-align: justify;
  vertical-align: middle;
  margin-right: 100px;
  margin-bottom: 15px;
}

#sobreMim, #qualidades, #experiencia, #formacaoAcademica{
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Yeseva One', cursive;
  text-decoration: underline;
}

.about-me p {
  font-size: 25px;
}

.quality, .academicFormation {
  background-color: #175873;
  text-align: center;
  padding: 10px;
}

.experience {
  padding: 10px;
  text-align: center;
}

li {
  padding: 5px;
  font-size: 25px;
}